@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<div class="jumbotron">
  <h3>Restaurant Search</h3>
</div>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Search"/>
}

<p>@Html.ActionLink("See all cuisine options", "Index", "Cuisines")</p>
<p>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</p>